setuptools
Flask
Cython
Keras
tensorflow
mxnet
sklearn
pandas
matplotlib
h5py
pillow
requests
simplejson
opencv-python
jsonpickle
pytesseract
nltk
chatterbot
urllib3
easydict
padatious
seaborn
mpld3
psutil
nvidia-ml-py
flask_cors
passlib
flask-sqlalchemy