{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>Get insight of your data required to choose right algorithm for machine learning</h3>
<hr />

<div class="row">
    <div class="col-lg-4">
        <div class="list-group" tyls="width:100%">
            <a href="/datainsight/{{id}}?type=basic" class="list-group-item active">
                Basic Info
            </a>
            <a href="/datainsight/{{id}}?type=stats" class="list-group-item">
                Descriptive Statistics
            </a>
            <a href="/datainsight/{{id}}?type=attrcor" class="list-group-item">
                Attributes Correlations
            </a>
            <a href="/datainsight/{{id}}?type=unidist" class="list-group-item">
                Univariate Distributions
            </a>
        </div>

        <div class="list-group" tyls="width:100%">
            <a href="/datainsight/{{id}}?type=plotmatrix" class="list-group-item active">
                Correlation Matrix Plot
            </a>
            <a href="/datainsight/{{id}}?type=stats" class="list-group-item">
                Descriptive Statistics
            </a>
            <a href="/datainsight/{{id}}?type=attrcor" class="list-group-item">
                Attributes Correlations
            </a>
            <a href="/datainsight/{{id}}?type=unidist" class="list-group-item">
                Univariate Distributions
            </a>
        </div>
    </div>
    <div class="col-lg-8">
        {% if type=='basic' %}
        <div id="basicInfo" style="width:100%;">
            <strong>Data Shape: </strong> <span>{{ basicInfo.shape }}</span>
            <br />
            <br />
            <strong>Data Types</strong>
            <hr />
            <p>{{basicInfo.types|safe}}</p>
            <br />
            <strong>Peek Data</strong>
            <hr />
            <iframe src="/static/projects/{{id}}/head.html" frameborder="0" style="width:100%; height:200px;"></iframe>
        </div>
        {% endif %}
        {% if type=='stats' %}
        <div id="basicInfo" style="width:100%;">
            
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
